:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(6, 56, 131);
  text-align: center;
  color: white;
}

#myClock {
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 7rem;
  border: 1rem solid;
  width: 50%;
}
